<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between mb-4 flex-wrap">
    <%=link_to expenses_path do %>
      <button class="min-w-24 rounded-lg py-3 px-3 bg-teal-800 text-amber-400 block text-sm font-medium hover:bg-teal-600">All</button>
    <% end %>
    <% @months.each do |month| %>
      <%=link_to expenses_path(month: month) do %>
        <button class="min-w-24 rounded-lg py-3 px-3 bg-teal-800 text-amber-400 block text-sm font-medium hover:bg-teal-600"><%=month%></button>
      <% end %>
    <% end %>
  </div>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl text-teal-800">Expenses (Total sum: $<%= @expenses.map(&:amount).sum %>)</h1>
    <%= link_to "New expense", new_expense_path, class: "rounded-lg py-3 px-5 bg-teal-800 text-amber-400 block text-sm font-medium hover:bg-teal-600" %>
  </div>

<!--  <canvas id="myChart" width="400px" height="100px" data-labels="<%#= params[:month] ? @days_in_month : @months %>" data-data="<%#= params[:month] ? @values_per_day : @monthly_sums %>"></canvas>-->
  <canvas id="myChart" width="400px" height="100px" data-labels="<%= @data_keys %>" data-data="<%= @data_values %>"></canvas>

  <div id="expenses" class="table w-full p-2 mt-2">
    <% @expenses_by_day.each do |day, expenses| %>
      <div class="flex justify-between">
        <h2 class="text-lg text-gray-500 my-2 font-medium"><%=day%></h2>
        <h2 class="text-lg text-gray-500 my-2 font-medium">Total sum per day: $<%= expenses.map(&:amount).sum %></h2>
      </div>
      <table class="w-full border-b bg-gray-100">
        <thead class="bg-teal-800 text-amber-400">
        <tr>
          <th class="min-w-40 text-middle border-r py-3 px-4 uppercase font-semibold text-sm">Date</th>
          <th class="min-w-40 max-w-40 text-middle border-r py-3 px-4 uppercase font-semibold text-sm">Name</th>
          <th class="min-w-24 text-middle border-r py-3 px-4 uppercase font-semibold text-sm">Category</th>
          <th class="text-middle border-r py-3 px-4 uppercase font-semibold text-sm">Amount, $</th>
          <th class="text-middle border-r py-3 px-4 uppercase font-semibold text-sm">Description</th>
          <th class="text-middle border-r py-3 px-4 uppercase font-semibold text-sm">Action</th>
        </tr>
        </thead>
        <tbody class="text-gray-700">
          <%= render expenses %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
