<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl text-teal-800">Expenses</h1>
    <%= link_to "New expense", new_expense_path, class: "rounded-lg py-3 px-5 bg-teal-800 text-amber-400 block text-sm font-medium" %>
  </div>

  <div id="expenses" class="table w-full p-2 mt-2">
    <% @expenses_by_day.each do |day, expenses| %>
      <%#= @expenses_by_day.values.first.map(&:amount).sum %>
      <div class="flex justify-between">
        <h2 class="text-lg text-gray-500 my-2 font-medium"><%=day%></h2>
        <h2 class="text-lg text-gray-500 my-2 font-medium">Total sum per day: <%= expenses.map(&:amount).sum %></h2>
      </div>
      <table class="w-full border-b bg-gray-100">
        <thead class="bg-teal-800 text-white">
        <tr>
          <th class="w-1/4 text-middle text-amber-400 border-r py-3 px-4 uppercase font-semibold text-sm">Date</th>
          <th class="w-1/4 text-middle text-amber-400 border-r py-3 px-4 uppercase font-semibold text-sm">Name</th>
          <th class="text-middle text-amber-400 border-r py-3 px-4 uppercase font-semibold text-sm">Amount, $</th>
          <th class="text-middle text-amber-400 border-r py-3 px-4 uppercase font-semibold text-sm">Description</th>
          <th class="text-middle text-amber-400 border-r py-3 px-4 uppercase font-semibold text-sm">Action</th>
        </tr>
        </thead>
        <tbody class="text-gray-700">
          <%= render expenses %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
