<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render "show_expense", expense: @expense %>

    <%= link_to "Edit this expense", edit_expense_path(@expense), class: "rounded-lg bg-teal-800 border py-3 ml-2 px-4 text-amber-400 hover:bg-teal-600 inline-block text-amber-400 text-sm font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this expense", expense_path(@expense), method: :delete, class: "rounded-lg bg-teal-800 border py-3 ml-2 px-4 text-amber-400 hover:bg-teal-600 inline-block text-amber-400 text-sm font-medium" %>
    </div>
    <%= link_to "Back to expenses", expenses_path, class: "rounded-lg bg-teal-800 border py-3 ml-2 px-4 text-amber-400 hover:bg-teal-600 inline-block text-amber-400 text-sm font-medium" %>
  </div>
</div>
